@page "/"
@inject ISiteEventService SiteEventService
@inject NavigationManager NavigationManager

<BSContainer>
    <BSRow>
    <h2 class="mb-3">Events Administration</h2>
    </BSRow>
    <BSRow>
        <BSCol Column="6" Class="color-grey">
            <BSForm Model="searchEvent" OnValidSubmit="@HandleSearch">
                <div class="mb-3">
                    <BSLabel for="title">Title</BSLabel>
                    <BSInput id="title" @bind-Value="searchEvent.seTitle" class="form-control"></BSInput>
                </div>
                <div class="mb-3">
                    <BSLabel for="startDate">Start Date After</BSLabel>
                    <BSInput id="startDate" InputType="InputType.Date" @bind-Value="searchEvent.seStartDate" />
                </div>
                <div class="mb-3">
                    <BSLabel for="endDate">Start Date Before</BSLabel>
                    <BSInput id="endDate" InputType="InputType.Date" @bind-Value="searchEvent.seEndDate" />
                </div>
                <div class="mb-3">
                    <BSButton IsSubmit="true" Class="btn btn-primary">Search Events</BSButton>
                </div>
            </BSForm>
        </BSCol>
        <BSCol Column="6" Align="Align.Center" Class="text-center">
            <Modal />
        </BSCol>
    </BSRow>
</BSContainer>
<BSContainer>
    @if(SiteEventService.seEvents == null)
    {
        <h3 class="text-primary">Loading...</h3>
    }
    else{
        <BSTable Class="table-hover">
            <BSTHead>
                <BSTR>
                    <BSTD>
                        Event Name
                    </BSTD>
                    <BSTD>
                        Start Date
                    </BSTD>
                    <BSTD>
                        Description
                    </BSTD>
                    <BSTD>
                        Edit Event
                    </BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                @foreach (var seEvent in SiteEventService.seEvents)
                {
                    <BSTR>
                        <BSTD>
                            <BSLink @onclick="(() => ShowSeEvent(seEvent.seId))">@seEvent.seTitle</BSLink>
                        </BSTD>
                        <BSTD>
                            @seEvent.seStartDate.ToString("MM/dd/yyyy")
                        </BSTD>
                        <BSTD>
                            @seEvent.seDescription
                        </BSTD>
                        <BSTD>
                            <Modal seId=@seEvent.seId />
                        </BSTD>
                    </BSTR>
                }
            </BSTBody>
        </BSTable>
    }
</BSContainer>


@code {

    EventSearch searchEvent = new EventSearch { };

    protected override async Task OnInitializedAsync()
    {
        await SiteEventService.GetAllEvents();
    }

    void ShowSeEvent(int seId)
    {
        NavigationManager.NavigateTo($"event/{seId}");
    }

    void EditEvent(int seId)
    {
        NavigationManager.NavigateTo($"modal/{seId}");
    }


    async Task HandleSearch()
    {
        Console.WriteLine(searchEvent.seTitle);
        await SiteEventService.SearchEvents(searchEvent);
    }
}